html.
  <head>
  <script src="./javascripts/emojiarrayfile.js" charset="utf-8"></script>
      <script src="./javascripts/d3.js" charset="utf-8"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" >
    <link href="static/Flat-UI-master/css/flat-ui.css" rel="stylesheet">

  </head>
  <body id = "thebodyid">
  <header id ="theheaderid">
  Hit the space bar for a random emoji.
  
   <form action="/send" method="get" id="searchform">
      <label> </label><input type="text" id="search1"<br>
      <input class="submit" type="submit" value="Search">
      </form>  
  </header>
        <div id = "resultsdiv"> </div>

   
    <script>
 

    document.addEventListener("keydown", function(event){

        console.log("kc ", event.keyCode);
        if(event.keyCode === 32){
            var number = Math.floor(Math.random()*600);
            var str = emojiarray[number];
            var theform = document.getElementById("searchform");
            theform.search1.value += str;
        }
    });



    var showResults = function(data){
      $.each(data, function(index, value){ 
       var string = '<div class = "datapiece"> <h6 class="datatitle"> ';
      string = string.concat(value["Title"]);
      string = string.concat('</h6> <small class = "datadescription">');
      string = string.concat(value["Description"]);
      string = string.concat('</small>  <a class = "dataurl" href = ');
      string = string.concat(value["Url"]);
      string = string.concat('>');
      string = string.concat(value["DisplayUrl"]);
      string = string.concat('</a> </div>');
      console.log(string);

          $( "#resultsdiv" ).append(string);
      });

      };

     

  
    

        $(document).ready(function(e) { 
        console.log("doing some jquery!");


          $(".submit").click(function(e) {
          console.log("jquery thinks they have pressed submit!");

            e.preventDefault();
            var formData = {
              'entered_emoji': document.getElementById("search1").value
            };
            $.ajax({
              type: "GET",
              data: formData,
              url: '/send',
              dataType: 'json'
            }).done(function(data) {
              console.log("PRESENT DATA HERE!", data[0]);
                showResults(data);
            });
            
          });
          });
  
    </script>
   
  </body>
